body {
    background-image: url('docs/assets/Peach Graphic Designer Portfolio Website (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    
}
    nav {  
    height: 15px;
    padding-top: 130px;
    border-radius: 50px;
  }
h1 {
    font-family: 'Open Sans', sans-serif;;
    font-size: 7em;
    color: white;
    position: absolute;
    margin-top: 0%;
    padding-left: 60px; 

}
h4 {
    font-family: 'Arvo', serif;
    font-size: 40px;
    color: white;
    position: absolute;
    text-align: center;
    margin: auto;
    padding-left: 50px; 
  }
ul {
    position: absolute;
    width: 100%;
    background-color: #ffa46B;
  }
.home {
  margin-right: 200px;
}
  li {
    float: right;
    display: block;
    color: #ffa46B;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    padding-right: 20px;
  }
  li:last-child {
    border-right: none;
  }
  
  li a:hover {
    background-color: gray;
  }
  
  a {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: white;
    display: block;
    padding: 8px;
    background-color: #ffa46B;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  .pic {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 200px;
    margin-right: 30%;
    border-radius: 40px;
  }
  .tiles1 {
    margin-top: 200px;
    margin-left: 100px;
    position:absolute;
  }
  .tiles2 {
    margin-top: 200px;
    margin-left: 350px;
    position:absolute;
    display: block;
  }
  .tiles3 {
    margin-top: 550px;
    margin-left: 100px;
    position:absolute;
    display: block;
  }
  .tiles4 {
    margin-top: 550px;
    margin-left: 350px;
    position:absolute;
    display: block;
  }
  .icon-text {
    font-family: 'Arvo', serif;
    font-size: 1.16em;
    color: rgba(255, 255, 255, 0.856);
    position: absolute;
    text-align: center;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
  }  
  .tiles1:hover .icon-text {
    opacity: 1;
  }
  .tiles2:hover .icon-text {
    opacity: 1;
  }
  .tiles3:hover .icon-text {
    opacity: 1;
  }
  .tiles4:hover .icon-text {
    opacity: 1;
  }