body {
    background-color: #3c95a8 ;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
nav {  
    float: left;
    height: 10px;
    margin-top: 80px;
    padding-top: 40px;
    border-radius: 50px;
    list-style: none;
    border-width: 1px 0;
    text-align: center;
  }
h1 {
    font-family: 'Open Sans', sans-serif;;
    font-size: 3em;
    color: white;
    position: absolute;
    margin-top: 75px;
    padding-left: 20px; 
  }
h4 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: white;
    float: left;
    position: absolute;
    text-align: center;
    margin: auto;
    padding-left: 1px; 
  }
ul {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #ffa46B;
  }
li {
    float: left;
    display: inline;
    color: #ffa46B;
    text-align: center;
    margin-top: 20px;
    padding: 2px 1px;
    text-decoration: none;
    padding-left: 1px;
  }  
  li a:hover {
    background-color: gray;
  }
  
  a {
    font-family: 'Arvo', serif;
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 8px;
    background-color: #ffa46B;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  .pic {
    max-width: 130px;
    max-height: 190px;
    position: absolute;
    margin-top: 10px;
    right: 3px;
    border-radius: 50%;
  }
  .tiles1 {
    margin-top: 235px;
    margin-left: 85px;
    position:absolute;
    display: block;
  }
  .tiles2 {
    margin-top: 235px;
    margin-left: 215px;
    position:absolute;
  }
  .tiles3 {
    margin-top: 440px;
    margin-left: 215px;
    position:absolute;
    display: block;
  }
  .tiles4 {
    margin-top: 440px;
    margin-left: 85px;
    position:absolute;
    display: block;
  }
  .icon-text {
    font-family: 'Arvo', serif;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.856);
    position: absolute;
    text-align: center;
    display: flex;
    opacity: 0;
    flex-direction: column;
  }  
  .click-me {
    color: rgba(255, 255, 255, 0.856);
    font-family: 'Arvo', serif;
    font-size: 12px;
    margin-top: 215px;
    margin-left: 85px;

  }
  .tiles1:hover .icon-text {
    opacity: 1;
  }
  .tiles2:hover .icon-text {
    opacity: 1;
  }
  .tiles3:hover .icon-text {
    opacity: 1;
  }
  .tiles4:hover .icon-text {
    opacity: 1;
  }